body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #9db668;
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px 0 80px;
}

.body {
    background-color: #9db668;
    display: flex;
    justify-content: center;
    padding: 80px;
}

.container {
    flex: 1 1 0px;
    width: 0;
    gap: 10px;
}

.container button {
    background-color: grey;
    color: white;
    border-radius: 5px;
    border: 2px solid grey;
    margin-top: 10px;
    padding: 5px 20px 5px 20px;

}

.info {
    display:flex;
    flex-direction: column;
    background-color: white;
    padding-top: 40px;
    padding-right: 120px;
    padding-bottom: 40px;
    padding-left: 120px;
    gap: 40px;
}

.image {
    flex: 1 1 0px;
 }

.images {
    display:flex;
    gap: 15px;
}

.image-one {
    text-align: center;
    flex: 1 1 0px;
    font-size: 18px;
}

.outline img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    outline: 3px solid #3882F6;
    border-radius: 5px;
}

.quote {
    font-size: 28px;
    display:flex;
    flex-direction: column;
    padding-top: 40px;
    padding-right: 120px;
    padding-bottom: 40px;
    padding-left: 120px;
    background-color: #E5E7EB;

}

.sign-up {
    display:flex;
    margin: 40px 80px 40px 80px;
    justify-content: center;
    background-color: grey;
    gap: 220px;
    color: white;
    border-radius: 5px;
}

.footer {
    padding: 20px;
    text-align: center;
    color: white;
    background-color: #9db668;
}

.description,
#button {
    margin: 20px;
}

#button {
    background-color: #3882F6;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}


#quoter {
    align-self: flex-end;
    font-weight: 700;
    font-size: 28px;
    padding-right: 150px;
}

#main {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

#text {
    color: #E5E7EB;
    font-size: 18px;
}

#info {
    text-align: center;
    font-weight: 800;
    font-size: 28px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}